<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tdycamera">
    <!-- 请求相机功能 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" /> <!-- 请求写入权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 请求相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 请求录制音频权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TdyCamera">
        <activity
            android:name=".record.MediaCodecRecordVideoActivity"
            android:exported="true" />
        <activity
            android:name=".record.RecordAudioActivity"
            android:exported="true" />
        <activity
            android:name=".mycamera.camera1.Camera1SettingsActivity"
            android:exported="true"
            android:label="@string/title_activity_camera1_settings" />
        <activity
            android:name=".mycamera.camerax.CameraXBasicActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/fullScreen" />
        <activity
            android:name=".mycamera.camera1.Camera1Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/fullScreen" />
        <activity
            android:name=".mycamera.camera2.video.Camera2VideoActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/fullScreen" />
        <activity
            android:name=".mycamera.camera2.basic.Camera2BasicActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/fullScreen" />
        <activity
            android:name=".mycamera.camera2.AutoCamera2Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/fullScreen" />
        <activity
            android:name=".mycamera.camera2.Camera2Activity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/fullScreen" />
        <activity
            android:name=".phonecamera.PhoneCameraActivity"
            android:exported="true" /> <!-- 设置全屏没有标题栏 -->
        <activity android:name=".demo.apicamera.CameraApiActivity" /> <!-- android:theme="@style/Theme.AppCompat.NoActionBar" -->
        <!-- /> -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>